# This is the AAP installer inventory file
# Please consult the docs if you're unsure what to add
# For all optional variables please consult the included README.md

# This section is for your AAP Controller host(s)
# -------------------------------------------------
[automationcontroller]
{{ host_address }} ansible_connection=local

# This section is for your AAP Automation Hub host(s)
# -----------------------------------------------------
[automationhub]
{{ host_address }} ansible_connection=local

# This section is for your AAP EDA Controller host(s)
# -----------------------------------------------------
[automationeda]
{{ host_address }} ansible_connection=local

# This section is for the AAP database(s)
# -----------------------------------------
# Uncomment the lines below and amend appropriately if you want AAP to install and manage the postgres databases
# Leave commented out if you intend to use your own external database and just set appropriate _pg_hosts vars
# see mandatory sections under each AAP component
[database]
{{ host_address }} ansible_connection=local

[all:vars]

# Common variables needed for installation
# ----------------------------------------
postgresql_admin_username=postgres
postgresql_admin_password={{ pgsql_password | default('redhat', true) }}
# If using the online (non-bundled) installer, you need to set RHN registry credentials
registry_username={{ rhsm_user }}
registry_password={{ rhsm_password }}

# AAP Controller - mandatory
# --------------------------
controller_admin_password={{ aap2_password | default('redhat', true) }}
controller_pg_host={{ host_address }}
controller_pg_password={{ pgsql_password | default('redhat', true) }}

# AAP Controller - optional
# -------------------------
# To use the postinstall feature you need to set these variables
#controller_postinstall=true
#controller_license_file=<full path to your manifest .zip file>
#controller_postinstall_dir=<full path to your config-as-code directory>

# AAP Automation Hub - mandatory
# ------------------------------
hub_admin_password={{ aap2_password | default('redhat', true) }}
hub_pg_host={{ host_address }}
hub_pg_password={{ pgsql_password | default('redhat', true) }}

# AAP Automation Hub - optional
# -----------------------------

# AAP EDA Controller - mandatory
# ------------------------------
eda_admin_password={{ aap2_password | default('redhat', true) }}
eda_pg_host={{ host_address }}
eda_pg_password={{ pgsql_password | default('redhat', true) }}
controller_main_url=https://{{ host_address }}

# AAP EDA Controller - optional
# -----------------------------